* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "王漢宗超明體繁";
}

body {
  background-color: blanchedalmond;
}

@import "./home";
@import "./join";
@import "./larpevent";
@import "./login";
@import "./nav";
@import "./postlarpevent";
@import "./profile";
@import "./register";
